$blue-1 : #18b5f9;
$blue-2 : #29b6f6;
$white : #ffffff;
$black: #000000;

$brand-primary: $blue-1; 

$font-family-sans-serif: 'Oxygen','Verdana', sans-serif;
$font-family-serif: 'Open Sans','Verdana', sans-serif;
